body {
    margin: 0;
    background: black;
    color: red;
    font-family: monospace;
    overflow: hidden;
}
#overlay {
    padding: 20px;
}
.file-list {
    height: 80vh;
    overflow-y: scroll;
    border: 1px solid red;
    padding: 10px;
    margin-top: 10px;
}
.file {
    padding: 2px 0;
    color: lime;
}